.profile__description {
  grid-area: description;
  /* max-width: 517px;
  min-width: 189px; */
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

/* @media screen and (max-width: 950px) {
  .profile__description {
    max-width: calc(150px + (328 + 328*0.7) *((100vw - 320px)/950));
  }
} */

@media screen and (max-width: 400px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}
